/********
 * Votre CSS
 ********/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    font-family: 'Roboto', 'RobotoDraft', sans-serif;
    font-size: 95%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

header,
footer {
    background: #2C0000;
    opacity: 80%;
    height: 5vh;
}


/*--------------------------------------------------------------------*/


/*----------------------------entête de nos pages----------------------*/


/*--------------------------------------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #2C0000;
    height: 40px;
}

.menu {
    display: inline-block;
}

.menu:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu:first-child span {
    flex: 1;
}

.menu:first-child img {
    height: 22px;
    width: 22px;
    margin-top: 6px;
}

.menu:not(:first-child) {
    flex: 1;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======

>>>>>>> 73f398bc7ec856893f5f8f6e149192411943fa77
/*Styles du message de bienvenu(e)*/

.menu>span {
    color: white;
    padding: 10px;
    font-style: inherit;
    text-align: center;
}

>>>>>>> 8b46b64dd468c86e7416fe37cc1d5b2d2149f5a8

/*-----------------------------le menu principal----------------------*/

.menu ul {
    background-color: rgba(119, 4, 4, 100%);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item ul li {
    padding: 0px;
    margin: 0px;
}

.menu-item {
    flex: 3;
    text-align: center;
    padding-top: 20px;
}

.menu-item a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    display: inline-block;
    /* width: 100%; */
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menu-item a:hover {
    color: rgb(101, 138, 53);
}

@media all and (max-width:640px) {
    .menu-item a {
        font-size: 10px;
    }
}


/*---------------------------------Fin entête-----------------------------*/


/*************************************************************************/


/**************************************************************************/


/*---------------------------------Contenu des pages---------------------*/

.col-2 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
}


/******************************************************************************/


/*---------------------------------page Cellier------------------------------*/

.cellier {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.cellier>nav {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
}

.cellier nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cellier nav ul>* {
    padding: 10px;
}

.cellier nav ul li label {
    display: block;
    width: 200px;
}

.cellier .bouteille {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    margin: 1em 0.5em;
}

.bouteille {
    display: inline-block;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 10%);
    width: 350px;
    justify-content: center;
    flex: 1 1 100px;
    text-align: center;
}

.bouteille .description {
    max-width: 50%;
    text-align: center;
}

.cellier .bouteille img {
    height: auto;
}

.description {
    align-self: flex-start;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.description p {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 0.9em;
}

.options button {
    /**/
    background-color: rgb(101, 138, 53);
    color: white;
    padding: 3px 2px;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 4px;
}

.options button:hover {
    background-color: rgba(119, 4, 4, 100%);
    color: white;
}


/**********************************************************************************/


/*--------------------------PAGE AJOUTER UN NOUVEAU CELLIER------------------------*/

.ajouter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 60px;
}


/* les champs d'ajout*/

.nouvelleBouteille {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nouvelleBouteille>div {
    width: 400px;
}

.infoBouteille {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.infoBouteille p {
    margin: 0px;
}

.infoBouteille p:first-child {
    text-align: left;
    width: 50%;
}

.infoBouteille p:not(:first-child) {
    width: 50%;
}

.infoBouteille button {
    width: 50%;
}

.infoBouteille input {
    padding-right: 20px;
    margin-right: 0px;
}

.infoBouteille select {
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

@media all and (max-width:816px) {
    .ajouter {
        margin: 10px;
    }
}


/**************************************************************************/


/*---------------------------------Fin entête-----------------------------*/


/*---------------------------------Contenu des pages---------------------*/


/*--------------PAGE AJOUTER UNE NOUVELLE BOUTEILLE à UN CELLIER---------*/

.liste {
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: none;
    /*background: #666;*/
    /*color: #03a9f4;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.liste>div {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    /*background: #666;*/
    cursor: pointer;
    transition: color 200ms ease-in-out;
    /*background-color: #003777;*/
    background-color: #e85e30;
    color: #FFFFFF;
<<<<<<< HEAD
}

.liste>div:hover {
    color: #000000;
    transition: color 200ms ease-in-out;
}

@media all and (max-width:640px) {
    footer {
        display: none;
    }
}

footer {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    background-color: #2C0000;
    opacity: 80%;
    color: #FFFFFF;
}

footer p {
    display: inline;
    padding-right: 50px;
    font-size: 10px;
}


/*Boutons Ajouter*/

.ajouterCellierButton {
    background-color: rgb(101, 138, 53);
    color: white;
    padding: 3px 2px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 4px;
}

.buttonModSup {
    background-color: white;
    color: black;
    border: 3px solid rgb(101, 138, 53);
}


/*Contenu page Ajouter Cellier*/

.ajouterCel {
    text-align: center;
}

.imageNC {
    margin-top: 20px;
}


/*Styles Table*/

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    margin-bottom: 50px;
    text-align: center;
}

tr:hover {
    background-color: #ddd;
}

th {
    background: rgba(101, 138, 53, 0.2);
    color: black;
    font-weight: 700;
}

td,
th {
    padding: 5px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 15px;
}

=======
}

.liste>div:hover {
    color: #000000;
    transition: color 200ms ease-in-out;
}

.listeAutoComplete li:hover {
    color: rgb(101, 138, 53);
    font-weight: bold;
    cursor: pointer;
}

@media all and (max-width:640px) {
    footer {
        display: none;
    }
}


/********************************************************************************/


/*-------------------------MODIFIER UNE BOUTEILLE----------------------------*/

.modifierBouteille {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.modifierBouteille p {
    margin: 0px;
}

.modifierBouteille p:first-child {
    text-align: left;
    width: 50%;
}

.modifierBouteille p:not(:first-child) {
    width: 50%;
}

.modifierBouteille button {
    width: 50%;
    margin: 0;
}

.modifierBouteille input {
    padding-right: 20px;
    margin-right: 0px;
}

.modifierBouteille select {
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}


/********************************************************************************/


/*---------------------------PIED DE PAGE--------------------------------------*/

footer {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    background-color: #2C0000;
    opacity: 80%;
    color: #FFFFFF;
}

footer p {
    display: inline;
    padding-right: 50px;
    font-size: 10px;
}


/*------------------------Boutons Ajouter Cellier-------------------------*/

.ajouterCellierButton {
    background-color: rgb(101, 138, 53);
    color: white;
    padding: 3px 2px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 4px;
}

.buttonModSup {
    background-color: white;
    color: black;
    border: 3px solid rgb(101, 138, 53);
}


/*Contenu page Ajouter Cellier*/

.ajouterCel {
    text-align: center;
}

.imageNC {
    margin-top: 20px;
}


/*Styles Tables Gestion des celliers et des utilisateurs*/

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    margin-bottom: 50px;
    text-align: center;
}

tr:hover {
    background-color: #ddd;
}

th {
    background: rgba(101, 138, 53, 0.2);
    color: black;
    font-weight: 700;
}

td,
th {
    padding: 5px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 15px;
}

>>>>>>> 8b46b64dd468c86e7416fe37cc1d5b2d2149f5a8

/* 
Responsive adapté aux appareils mobiles
*/

@media all and (max-width:640px) {
    table {
        width: 100%;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
<<<<<<< HEAD
<<<<<<< HEAD
    /* Hide table headers (but not display: none;, for accessibility) */
=======
   
>>>>>>> 8b46b64dd468c86e7416fe37cc1d5b2d2149f5a8
=======
>>>>>>> 73f398bc7ec856893f5f8f6e149192411943fa77
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
<<<<<<< HEAD
        /* Behave  like a "row" */
=======
>>>>>>> 8b46b64dd468c86e7416fe37cc1d5b2d2149f5a8
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
<<<<<<< HEAD
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
=======
        position: absolute;
        top: 6px;
        left: 0px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
>>>>>>> 8b46b64dd468c86e7416fe37cc1d5b2d2149f5a8
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
<<<<<<< HEAD
=======
    input {
        width: 100%;
    }
>>>>>>> 8b46b64dd468c86e7416fe37cc1d5b2d2149f5a8
}

.inputForm {
    height: 35px;
    width: 200px;
    margin-bottom: 5px;
    text-align: center;
}