/********
* Votre CSS
********/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    font-family: 'Roboto', 'RobotoDraft', sans-serif;
    font-size: 95%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

header,
footer {
    background: #2C0000;
    opacity: 80%;
    height: 5vh;
}


/*--------------------------------------------------------------------*/


/*----------------------------entête de nos pages----------------------*/


/*--------------------------------------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #2C0000;
    height: 40px;
}

.menu {
    display: inline-block;
}

.menu:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu:first-child span {
    flex: 1;
}

.menu:first-child img {
    height: 22px;
    width: 22px;
    margin-top: 6px;
}

.menu:not(:first-child) {
    flex: 1;
}


/*Styles du message de bienvenu(e)*/

.menu>span {
    color: white;
    padding: 10px;
    font-style: inherit;
    text-align: center;
}


/*-----------------------------le menu principal----------------------*/

.menu-item ul li {
    padding: 0px;
    margin: 0px;
}

.menu-item {
    flex: 3;
    text-align: center;
    padding-top: 20px;
}


/*sous menu*/

.sous {
    list-style-type: none;
}

.sous ul:hover {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: rgba(119, 4, 4, 100%);
    color: #FFFFFF;
    list-style-type: none;
}

.menu-item a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menu-item a:hover {
    color: rgb(101, 138, 53);
}

.navbar {
    background-color: rgba(119, 4, 4, 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.welcome {
    justify-content: center;
    display: flex;
    font-size: 10px;
    color: white;
    padding-top: 4px;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.navbar>ul>li ul {
    display: none;
    position: absolute;
}

.navbar li:nth-child(3):hover ul,
.navbar li:nth-child(4):hover ul {
    left: auto;
    padding: 10px;
    width: 20%;
    display: block !important;
    color: rgb(101, 138, 53);
}

.sous li {
    background-color: rgba(119, 4, 4, 100%);
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.main-nav {
    display: none;
    list-style-type: none;
    margin: 0px;
}

.active {
    display: block;
}


/*---------------------------------Fin entête-----------------------------*/


/*************************************************************************/


/*---------------------------------Contenu des pages---------------------*/

.col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/******************************************************************************/


/*-------------page d'accueil (listes des bouteilles par tri)-----------------*/

.cellier {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.cellier>nav {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
}

.cellier nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cellier nav ul>* {
    text-align: center;
    padding: 10px;
}

.cellier nav ul li:first-child {
    text-align: center;
}

.cellier nav ul li label {
    display: block;
}

.cellier .bouteille {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    margin: 1em 0.5em;
}


/*
bouton ajouté bouteille
*/

.ajouter_bouteille,
.nouveauAdminUtilisateur {
    display: flex;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #923636;
    font-weight: bold;
    line-height: 25px;
}

.bouteille {
    display: inline-block;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 10%);
    width: 350px;
    justify-content: center;
    flex: 1 1 100px;
    text-align: center;
    margin-top: 60px;
}

.infoBouteille {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.infoBouteille>p>* {
    text-align: center;
}

.infoBouteille p {
    margin: 0px;
}

.infoBouteille p:first-child {
    text-align: left;
    width: 50%;
}

.infoBouteille p:not(:first-child) {
    width: 50%;
}

.infoBouteille button {
    width: 50%;
}

.infoBouteille input {
    padding-right: 20px;
    margin-right: 0px;
}

.infoBouteille select {
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}


/********************************************/


/* AJOUTER UNE BOUTEILLE à UN CELLIER*/


/*------------------------------------------*/

.ajoutBouteille {
    display: inline-block;
    padding: 10px;
    width: 400px;
    justify-content: left;
    flex: 1 1 100px;
    text-align: center;
}

.ajoutBouteille p {
    margin: 0px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.ajoutBouteille input {
    width: 183px;
}

.ajoutBouteille p select {
    width: 183px;
}

.ajoutBouteille span {
    text-align: left;
}

.importerBouteilleSAQ,
.ajouterBouteilleCellier,
.ajouterBouteilleNonListee {
    background-color: rgb(101, 138, 53);
    color: white;
    padding: 3px 2px;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 4px;
    margin: 5px auto;
}

.importerBouteilleSAQ:hover,
.ajouterBouteilleCellier:hover,
.ajouterBouteilleNonListee:hover {
    background-color: rgba(119, 4, 4, 100%);
    color: white;
}

.options button {
    background-color: rgb(101, 138, 53);
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 4px;
}

.options button:hover {
    background-color: rgba(119, 4, 4, 100%);
    color: white;
}

.recherche_nom_bouteille>input {
    width: 50%;
}

.bouteillesImportees,
.nouvelleBouteille,
.nouvelleBouteilleNonlistee {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bouteillesImportees h3,
.bouteillesImportees h4 {
    flex: 0 0 100%;
    text-align: center;
}

.nouveauUtil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.nouvelleBouteille h4,
.nouvelleBouteilleNonlistee h4 {
    flex: 0 0 100%;
    text-align: center;
}

.nouveauUtil h4 {
    flex: 0 0 100%;
    text-align: center;
}

.nouveauUtil img {
    padding-top: 15px;
}

.nouveauUtil a {
    text-align: left !important;
}

.nouvelleBouteille .recherche_nom_bouteille {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.gestionCel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.gestionCel span {
    color: red;
}

.contenuCel {
    justify-content: center;
}

.liste {
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: none;
    /*background: #666;*/
    /*color: #03a9f4;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.liste>div {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: color 200ms ease-in-out;
    background-color: #e85e30;
    color: #FFFFFF;
}

.liste>div:hover {
    color: #000000;
    transition: color 200ms ease-in-out;
}

.listeAutoComplete li:hover {
    color: rgb(101, 138, 53);
    font-weight: bold;
    cursor: pointer;
}


/**************************************************************************/


/*-------------------------MODIFIER UNE BOUTEILLE----------------------------*/

.modifier_bouteille {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.modifier_bouteille p {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
}

.modifier_bouteille>p>* {
    text-align: center;
}

.modifier_bouteille p span {
    margin-bottom: 0;
    flex: 0 0 100%;
}

.modifier_bouteille p input {
    flex: 0 0 100%;
    margin-bottom: 0;
}

.modifier_bouteille p button {
    background-color: rgb(101, 138, 53);
    color: white;
    padding: 3px 2px;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 4px;
    margin: 5px auto;
    align-items: center;
}

.modifier_bouteille p button:hover {
    background-color: rgba(119, 4, 4, 100%);
}


/*erreur pour l ajout et la modif d'une bouteille*/

.erreur {
    color: red;
    font-size: 0.8em;
    text-align: left;
}


/********************************************************************************/


/*------------------------Boutons Ajouter Cellier-------------------------*/

.ajouterCellierButton {
    background-color: rgb(101, 138, 53);
    color: white;
    padding: 3px 2px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 4px;
}

.ajouterCellierButton:hover {
    background-color: rgba(119, 4, 4, 100%);
}

.buttonModSup {
    background-color: white;
    color: black;
    border: 3px solid rgb(101, 138, 53);
}


/*Contenu page Ajouter Cellier*/

.imageNC {
    margin-top: 20px;
}


/*Styles Tables Gestion des celliers et des utilisateurs*/

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    margin-bottom: 50px;
    text-align: center;
}

tr:hover {
    background-color: #ddd;
}

th {
    background: rgba(101, 138, 53, 0.2);
    color: black;
    font-weight: 700;
}

td,
th {
    padding: 5px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 15px;
}


/* 
    création d'un nouveau compte utilisateur
*/

.usager {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 10%);
    width: 350px;
    justify-content: center;
    flex: 1 1 100px;
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.usager form p {
    display: flex;
    flex-direction: column;
}

.creationButton {
    background-color: rgb(101, 138, 53);
    color: white;
    padding: 3px 2px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    margin: 5px auto;
}


/*******************************************************************************/


/*---------------------------PIED DE PAGE--------------------------------------*/

footer {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    background-color: #2C0000;
    opacity: 80%;
    color: #FFFFFF;
}

footer p {
    display: inline;
    padding-right: 50px;
    font-size: 10px;
}


/*****************************************************************************/


/*-------------------------------MEDIA QUERIES---------------------------------*/

@media all and (max-width:640px) {
    /*LE MENU */
    .menu-item a {
        font-size: 10px;
    }
    table {
        width: 100%;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    /**/
    td:before {
        position: absolute;
        top: 6px;
        left: 0px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
    input {
        width: 100%;
    }
    /*FOOTER*/
    footer {
        display: none;
    }
}


/* media query recherche bouteille/ajoutBouteille*/

@media only screen and (min-width: 414px) {
    .recherche_nom_bouteille {
        align-items: center;
    }
    .ajoutBouteille {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
}


/**media query  du contenu/body/nouvellebouteille/cellier*/

@media only screen and (max-width: 736px) {
    .content {
        justify-content: center;
        margin: 0px;
    }
    body {
        width: 100%;
    }
    .nouvelleBouteille,
    .nouvelleBouteilleNonlistee {
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
    .nouvelleBouteilleNonlistee .ajoutBouteille p {
        width: 100%;
        padding: 1px;
    }
    .nouveauUtil {
        justify-content: center;
        width: 85%;
    }
    .cellier nav ul {
        flex-direction: column;
    }
    .nouvelleBouteille h4 {
        font-size: small;
        text-align: center;
    }
    .nouvelleBouteille h4 {
        font-size: small;
        text-align: center;
    }
    .nouveauUtil h4 {
        font-size: small;
        text-align: center;
    }
    .gestionCel h4 {
        font-size: small;
    }
    .gestionCel span {
        font-size: small;
    }
    .nouveauUtil a {
        font-size: small;
        text-align: center;
    }
    .ajouterCel {
        width: 100%;
    }
    .gestionCel {
        width: 100%;
    }
    .navbar>ul>li ul {
        position: relative;
    }
    .navbar li:nth-child(3):hover ul,
    .navbar li:nth-child(4):hover ul {
        left: 0;
        right: 0;
        position: relative;
        margin: 0 auto;
    }
}


/* media queries menu principal*/

@media all and (min-width: 440px) {
    .navbar-toggle {
        top: 0px;
    }
}

@media all and (min-width: 736px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        align-items: center;
        height: 100px;
    }
    span:nth-of-type(3) {
        margin-right: auto;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}


/* media query page ajouter bouteille au cellier max 1078px*/

@media only screen and (max-width: 1078px) {
    .nouvelleBouteille {
        display: flex;
        padding: 10px;
    }
    .recherche_nom_bouteille {
        flex: 0 0 100%;
    }
    .ajoutBouteille {
        flex: 1;
    }
}


/* les boites de messages (alert+confirm)*/

#center_container,
#center_container2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 20;
}

#center_container_sup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 20;
}

#center,
#center2,
#center_sup,
#confirm_suppression {
    position: relative;
    width: 320px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: rgba(119, 4, 4, 100%);
    height: 100px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#confirm_suppression>button {
    background-color: rgb(101, 138, 53);
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 4px;
    margin: 2px 2px;
}

#close_center,
#close_center2 {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 5px;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
}

#close_center_sup {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 5px;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
}


/*CSS SPAN*/

.ajoutBouteille span {
    color: red;
}

.formCellier span {
    color: red;
}

#nomB {
    color: #000;
}

.success-msg {
    background-color: #DFF2BF;
}

.choixAjoutBouteille {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.choixAjoutBouteille label {
    text-align: center;
}

.stat {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.stat>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin: 1em 0.5em;
}

.bouteillesImportees {
    margin-bottom: 30px;
}

